:root {
  --primery-color: #c8d9eb;
  --secondary-color: #f0d9da;
  --third-color: #f9ecec;
  --fourth-color: #ecf2f9;
  --heading-font-family: "Cormorant Garamond", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h2,
h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-size: 80px;
  font-weight: medium;
}

.hero {
  background-image: url(/images/5.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--third-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  padding: 10px 10px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 6px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  opacity: 0.7;
  margin-right: 20px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}

.btn-branding-outline {
  border: 1px solid var(--primery-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 30px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.bg-nb {
  background-color: var(--third-color);
  opacity: 0.8;
}

.navbar-logo {
  max-height: 45px;
}

footer {
  height: 100px;
  margin-top: 100px;
  background: var(--third-color);
}

footer i {
  color: black;
  font-size: 16px;
  background: white;
  padding: 10px;
  border-radius: 100%;
  margin: 10px 15px;
}

footer i:hover {
  color: white;
  background: black;
}

footer p {
  font-size: 10px;
  margin: 10px auto;
}